*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}
body{
    font-family: Roboto, sans-serif;
}
.section-1{
    display: flex;
}
.l_box{
    width: 50%;
    height: 140vh;
    background-image: url(../img/l_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;

} 
.r_box{
    width: 50%;
    height: 140vh;
    background-image: url(../img/r_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}